@import "tailwindcss";
@plugin "daisyui" {
    themes: false;
    prefix: "d-";
}

@theme inline {
    --color-gray-background: #999d9e;
    --color-gray-text: #898d8e;
    --color-almost-white: #e9e9e9;
    --color-black-background: #0f0f0f;
    --color-card-background: #191919;
    --color-accent: #105048;
    --color-foreground: var(--foreground);

    --breakpoint-hd: 120rem;

    --shadow-card: 0px 10px 15px 5px #111;
}

/* Nuevo Breakpoint para 1920 */
@custom-media --hd (min-width: 120rem);

/* Busqueda: Componente.tsx Inicio o Componente.tsx Fin */

@layer components {
    
    /* Nav.tsx Inicio */
    .nav-li {
        @apply relative cursor-pointer pb-1 hover:text-white transition-all duration-300 ease-in-out
    }

    .nav-link {
        @apply after:block after:absolute after:bottom-0 after:left-0 after:h-0.5 after:w-full after:bg-white after:scale-x-0 after:origin-center after:transition-transform after:duration-300 group-hover:after:scale-x-100
    }
    /* Nav.tsx Fin */


    /* Stack.tsx Inicio */
    .li-icon {
        @apply w-12 h-12 lg:w-14 lg:h-14
        flex place-items-center place-content-center
    }

    .iconTech {
        @apply w-12 h-12 lg:w-20 lg:h-20
        hover:cursor-pointer lg:hover:w-[110px] lg:hover:h-[110px]
        transition-all duration-300 ease-in-out
    }

    .iconTech-small {
        @apply w-12 h-12 lg:w-14 lg:h-14
        hover:cursor-pointer lg:hover:w-18 lg:hover:h-18
        transition-all duration-300 ease-in-out
    }

    .iconTech-docker-rest {
        @apply w-14 h-14 -translate-x-1 -translate-y-1 lg:w-16 lg:h-16 
        lg:hover:w-22 lg:hover:h-22 lg:-translate-x-2 lg:-translate-y-2
        transition-all duration-300 ease-in-out
    }
    /* Stack.tsx Fin */


    /* Contact.tsx Inicio */
    .socialIcons {
        @apply text-white
        hover:text-black-background
        transition-all duration-300 ease-in-out
    }

}

html,
body {
    width: 100%;
    height: 100%;
}

/* Globo del Hero Inicio */

/* Animación de rebote del globo */
@keyframes rebote-globo {
   0%   {transform: translate(-50%, -40%);}
   50%  {transform: translate(-50%, -60%);}
   100% {transform: translate(-50%, -40%);}
}



/* Contenedor del globo */
.globo {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 32px;
   height: 32px;
   transform: translate(-50%, -50%);
   border-radius: 50%;
   overflow: hidden;
   will-change: transform;
}

/* Rotación leve del globo */
@keyframes rotacion-globo {
   0%   {transform: translate(-50%, -50%) rotate(15deg);}
   50%  {transform: translate(-50%, -50%) rotate(-15deg);}
   100% {transform: translate(-50%, -50%) rotate(15deg);}
}

/* Envoltorio de los anillos */
.contenedor-globo {
   top: 50%;
   left: 50%;
   width: 100%;
   height: 100%;
   position: absolute;
   display: block;
   border-radius: 50%;
   transform: translate(-50%, -50%) rotate(30deg);
   animation: rotacion-globo 6.1s cubic-bezier(0.35, 0, 0.65, 1) infinite;
   overflow: hidden;
   box-shadow: inset 0px 0px 0px .13em #f1f1f1;
}

/* Anillos meridianos */
.globo .anillo {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 100%;
   height: 100%;
   transform: translate(-50%, -50%);
   border-radius: 50%;
   box-shadow: inset .09em 0px 0px .07em #f1f1f1; /* grosor ligeramente distinto */
   animation: giro-anillo 3.1s linear infinite; /* timing un poco más lento */
   font-size: .75em;
}

/* Keyframes de los anillos meridianos */
@keyframes giro-anillo {
   0%   {border-radius: 50%; box-shadow: inset .09em 0px 0px .07em #f1f1f1; width: 100%; }
   49%  {border-radius: 50%; box-shadow: inset .09em 0px 0px .07em #f1f1f1; background: transparent;}
   50%  {border-radius: 0%; width: .175em; background: #f1f1f1;}
   51%  {border-radius: 50%; box-shadow: inset -.09em 0px 0px .07em #f1f1f1; background: transparent;}
   100% {border-radius: 50%; box-shadow: inset -.09em 0px 0px .07em #f1f1f1; width: 100%;}
}

/* Delays para simular efecto digital */
.globo :nth-child(1) { animation-delay: -2.05s; }
.globo :nth-child(2) { animation-delay: -1.05s; }

/* Anillos horizontales */
.globo .anillo-horizontal {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 150%;
   transform: translate(-50%, -50%);
   border-radius: 50%;
   height: 55%;
   box-shadow: inset 0px 0px 0px .145em #f1f1f1;
   font-size: .75em;
}

.globo .anillo-horizontal-medio {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 150%;
   transform: translate(-50%, -50%);
   border-radius: 0%;
   height: .15em;
   background: #f1f1f1;
   font-size: .75em;
}
/* Globo del Hero Fin */