@import "tailwindcss";
@plugin "daisyui" {
    themes: false;
    prefix: "d-";
}

@theme inline {
    --color-gray-background: #999d9e;
    --color-almost-white: #e9e9e9;
    --color-black-background: #0f0f0f;
    --color-accent: #105048;
    --color-foreground: var(--foreground);
}

@layer components {
    
    .nav-li {
        @apply relative cursor-pointer pb-1 hover:text-white transition-all duration-300 ease-in-out
    }

    .nav-link {
        @apply after:block after:absolute after:bottom-0 after:left-0 after:h-0.5 after:w-full after:bg-white after:scale-x-0 after:origin-center after:transition-transform after:duration-300 group-hover:after:scale-x-100
    }

}

html,
body {
    width: 100%;
    height: 100%;
}

/* Animación de rebote del globo */
@keyframes rebote-globo {
   0%   {transform: translate(-50%, -40%);}
   50%  {transform: translate(-50%, -60%);}
   100% {transform: translate(-50%, -40%);}
}



/* Contenedor del globo */
.globo {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 32px;
   height: 32px;
   transform: translate(-50%, -50%);
   border-radius: 50%;
   overflow: hidden;
   will-change: transform;
}

/* Rotación leve del globo */
@keyframes rotacion-globo {
   0%   {transform: translate(-50%, -50%) rotate(15deg);}
   50%  {transform: translate(-50%, -50%) rotate(-15deg);}
   100% {transform: translate(-50%, -50%) rotate(15deg);}
}

/* Envoltorio de los anillos */
.contenedor-globo {
   top: 50%;
   left: 50%;
   width: 100%;
   height: 100%;
   position: absolute;
   display: block;
   border-radius: 50%;
   transform: translate(-50%, -50%) rotate(30deg);
   animation: rotacion-globo 6.1s cubic-bezier(0.35, 0, 0.65, 1) infinite;
   overflow: hidden;
   box-shadow: inset 0px 0px 0px .13em #f1f1f1;
}

/* Anillos meridianos */
.globo .anillo {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 100%;
   height: 100%;
   transform: translate(-50%, -50%);
   border-radius: 50%;
   box-shadow: inset .09em 0px 0px .07em #f1f1f1; /* grosor ligeramente distinto */
   animation: giro-anillo 3.1s linear infinite; /* timing un poco más lento */
   font-size: .75em;
}

/* Keyframes de los anillos meridianos */
@keyframes giro-anillo {
   0%   {border-radius: 50%; box-shadow: inset .09em 0px 0px .07em #f1f1f1; width: 100%; }
   49%  {border-radius: 50%; box-shadow: inset .09em 0px 0px .07em #f1f1f1; background: transparent;}
   50%  {border-radius: 0%; width: .175em; background: #f1f1f1;}
   51%  {border-radius: 50%; box-shadow: inset -.09em 0px 0px .07em #f1f1f1; background: transparent;}
   100% {border-radius: 50%; box-shadow: inset -.09em 0px 0px .07em #f1f1f1; width: 100%;}
}

/* Delays para simular efecto digital */
.globo :nth-child(1) { animation-delay: -2.05s; }
.globo :nth-child(2) { animation-delay: -1.05s; }

/* Anillos horizontales */
.globo .anillo-horizontal {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 150%;
   transform: translate(-50%, -50%);
   border-radius: 50%;
   height: 55%;
   box-shadow: inset 0px 0px 0px .145em #f1f1f1;
   font-size: .75em;
}

.globo .anillo-horizontal-medio {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 150%;
   transform: translate(-50%, -50%);
   border-radius: 0%;
   height: .15em;
   background: #f1f1f1;
   font-size: .75em;
}
